amqp==2.5.1
apns2==0.5.0
asn1crypto==0.24.0
astroid==2.2.5
autopep8==1.4.4
beautifulsoup4==4.8.0
billiard==3.6.1.0
bleach==3.1.0
boto3==1.9.231
botocore==1.12.231
celery==4.3.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.7
Django==2.2.5
django-cors-headers==3.1.0
django-debug-toolbar==2.0
django-extensions==2.2.1
django-filter==2.2.0
django-mysql==3.2.0
django-push-notifications==1.6.1
django-s3-storage==0.12.5
djangorestframework==3.10.3
djangorestframework-filters==1.0.0.dev0
docutils==0.15.2
drf-yasg==1.16.1
h2==2.6.2
hpack==3.0.0
html5lib==1.0.1
http-ece==1.1.0
hyper==0.7.0
hyperframe==3.2.0
idna==2.8
importlib-metadata==0.22
inflection==0.3.1
importlib-metadata==0.23
isort==4.3.21
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kombu==4.6.4
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==7.2.0
mysqlclient==1.4.4
olefile==0.46
packaging==19.2
pep8==1.7.1
Pillow==6.1.0
py-vapid==1.7.0
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pylint==2.3.1
pylint-django==2.0.11
pylint-plugin-utils==0.5
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
pywebpush==1.10.0
redis==3.3.8
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.1.2
s3transfer==0.2.1
six==1.12.0
soupsieve==1.9.3
sqlparse==0.3.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.25.3
urllib3==1.25.4
uWSGI==2.0.18
vine==1.3.0
webencodings==0.5.1
wrapt==1.11.2
zipp==0.6.0
